<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Guess Who</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <link rel="stylesheet" href="/css/stars.css"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Guess Who</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"> Gamestudio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guess/new">New game</a>
                </li>
            </ul>
            <span class="navbar-text">
                <div th:if="${@userController.logged}">
                     You are logged as <span th:text="${@userController.loggedUser}"/>.
                    <a href="/user/logout">Logout</a>
                </div>
            </span>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <p class="text-black-50 mb-0"style="font-size: 12px"> Average rating
                <div th:utext="${@guessController.averageRating()}"/></div>
            </p>

            <a class="text-black-50 mb-0" style="font-size: 12px">Choose pictures style</a>
            <div class="row mt-2 ml-1" th:unless="${trigger}">
                <form method="get" action="/guess/setFruit">
                    <input type="submit" value="Fruits" class="ml-2 mr-2 btn"style="background-color: #00CED1; color: white;font-size: 14px"/>
                </form>
                <form method="get" action="/guess/setAnimal">
                    <input type="submit" value="Animals" class="mr-2 btn"style="background-color: #00CED1; color: white;font-size: 14px"/>
                </form>
            </div>
            <div class="font-weight-bold"  style="font-size: 16px" th:if="${trigger}" ><a th:text="${@guessController.getWhichPictureWord()}"/></div>
        </div>
    </div>


    <div class="container mt-1">
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
            <div class="text-center" th:utext="${@guessController.htmlField}"/></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h3 style="color: #00CED1">Picture Info</h3>
                    <p class="text-black-50 mb-2" style="margin-top: -1em;font-size: 10px">Revealing fields in the middle will cost you more points!</p>
                    <p class="text-black-50 mb-0 mt-1" style="font-size: 12px"> Picture Score <div class="font-weight-bold" style="font-size: 20px;" th:text="${@guessController.pictureScore()}"/></p>
                    <p class="text-black-50 mb-0"style="font-size: 12px"> Player Score <div class="font-weight-bold" style="font-size: 20px" th:text="${@guessController.getPlayerScore()}"/> </p>
                    <p class="text-black-50 mb-0"style="font-size: 12px">Game Mode </p> <div class="font-weight-bold"  style="font-size: 20px" th:text="${@guessController.gameState}"/>
                    <div>
                        <p class="text-black-50 mb-0"style="font-size: 12px"  th:if="${@guessController.marking}">Secret was </p>
                        <div class="font-weight-bold"  style="font-size: 20px" th:if="${@guessController.marking}" th:text="${@guessController.secret}"/>

                        <p class="text-black-50 mb-0 mt-1"style="font-size: 12px" th:if="${not @guessController.marking}">Secret
                        <form method="get" action="/guess/secret" th:if="${not @guessController.marking}">
                             <input class="form-control" name="secret" type="text"/>
                            <input type="submit" class="btn mt-1 font-weight-bold" id="customButton" value="Secret">
                        </form>
                        </p>
                    </div>
                    <div th:unless="${bonus}">
                        <div th:if="${@guessController.marking}">
                            <p class="text-black-50 mb-0"style="font-size: 12px">Next picture?</p>
                                <div class="row mt-2 ml-1">
                                    <form method="get" action="/guess/nextpicture">
                                        <input type="submit" value="Yes" class="mr-2 btn btn-success">
                                    </form>
                                    <form method="get" action="/guess/nonextpicture">
                                        <input type="submit" class="btn btn-danger" value="No">
                                    </form>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="font-weight-bold"  style="font-size: 20px" th:if="${bonus == true}"><h5 class="font-weight-bold">All pictures guessed.</h5></div>
                    <a class="btn" style="text-decoration: none;background-color: #00CED1; color: white;font-size: 14px" th:if="${donePicture}" href="/guess/new">New game</a>
                </div>
        </div>
</div>


    <h1 class="mt-5 mb-2" >Leave a comment & rating</h1>
    <p class="text-black-50 mb-0"style="font-size: 12px">Player name </p>
    <div class="font-weight-bold"  style="font-size: 16px">
        <div th:if="${@userController.logged}">
            <span th:text="${@userController.loggedUser}"/>
        </div>
        <div th:if="${not @userController.logged}">
           <p>Login before leaving comment. <a class="ml-1" href="/"> Login </a></p>

        </div>
    </div>

    <form method="get" action="/guess/comment" class="mb-5">
        <p class="text-black-50 mb-0"style="font-size: 12px">Comment</p>
        <textarea name="comment" class="form-control" rows="3"></textarea>
        <input type="submit" class="mt-2 btn" style=" background-color: #00CED1; color: white;font-size: 14px" value="Send">
    </form>

    <form method="get" action="/guess/rating" class="mb-5">
        <p><a class="text-black-50 mb-0" style="font-size: 12px">Your actual rating </a>
            <div class="mb-1 font-weight-bold"  th:utext="${ratings}"  style="font-size: 16px;margin-top: -1em">
                <a th:text="${rating.rating}"/>
            </div>
        </p>

        <p class="text-black-50 mb-0"style="font-size: 12px">Rating (0-5)</p>
        <a th:if="${checkInt}">
            <p class="mt -1 mb-0"style="font-size: 15px;color: red;">Insert <b>number</b> between <b>0-5</b></p>
        </a>

        <input class="form-control" name="rating" type="text"/>
        <input type="submit" class="mt-2 btn" style=" background-color: #00CED1; color: white;font-size: 14px" value="Send">
    </form>

    <div th:if="${loginNeeded}">
        <p class="font-weight-bold"style="margin-top: -2em;font-size: 13px;color: red;">Login before inserting data!</p>
    </div>


    <div class="row">
        <div class="col-xl-2 col-lg-2">
            <div class="featured-text text-lg-left">
                <h1 class="font-weight-bold mb-2">Top scores </h1>
                <div style="font-size: 12px">
                    <ol>
                        <li class="mb-1" th:each="score : ${scores}"  style="font-size: 14px">
                            <span th:text="${score.player}"/>
                            <span  class="font-weight-bold" th:text="${score.points}"/>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-7">
            <div class="featured-text text-lg-left">
                <h1 class="font-weight-bold mb-2">Latest comments </h1>
                <div style="font-size: 12px">
                    <ol>
                        <li class="mb-1" th:each="comment : ${comments}"  style="font-size: 14px">
                            <span class="font-weight-bold" th:text="${comment.player}"/>
                            <span th:text="${comment.comment}"/>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
